

body{

    
    background-color: #EAEAEA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    

    #contenido{
        height: 110vh;
        display: grid;

        grid-template-columns: 25% 1fr 25%;
        grid-template-rows: 1fr 20% ;
        grid-template-areas: 
        "parteSuperior parteSuperior parteSuperior"
        "footer footer footer"
        ;
        
        
        #parteSuperior{

            display: grid;
            grid-area: parteSuperior;

            grid-template-columns: 25% 1fr 25%;
            grid-template-rows: 20% 1fr;
            grid-template-areas: 
            "header header header"
            "main main main";

            background-image: url("../img/bg.jpeg") ;
            background-repeat: no-repeat;
            background-size: cover;

            #header{
    
                grid-area: header;
                color: white;

                display: flex;
                flex-direction: row;
            
                #logo{
                    margin-left: 5%;
                    margin-top: 2%;
                }
                
                
                h3{
                    margin-left: 27%;
                    margin-top: 5%;
                    text-align: center;
                }
               
            }
          
            #main{
                
              
                grid-area: main;
        
                display: grid;

                grid-template-rows: 5% 1fr 15%;
                grid-template-columns: 33% 1fr 33%;

                justify-content: center;
                grid-template-areas: 
                                    ". . ."
                                   ". login ." 
                                   " . . .";
                
        
                #login{
        
                    grid-area: login;
                    
                    border: 1px solid black; 
                    border-radius: 5%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.75);

                    background-color: white;
    
                    h5{
                        text-align: center;
                        padding: 8%;
                        margin-bottom: 0%;
                    }
    
                    form{
    
                        width: 70%;
                        height: 40%;
    
                        input{
                            background-color: rgb(236, 236, 236);
                            margin-top: 5%;
                            margin-bottom: 5%;
                            padding-left: 2%;
                            border-radius: 4%;
                            width: 100%;
                            height: 20%;


                        }
    
                        .btnLogin {
                            text-align: center;
                            width: 100%;
                            height: 20%;
                            box-shadow:inset 0px 1px 0px 0px #97c4fe;
                            background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
                            background-color:#3d94f6;
                            border-radius:6px;
                            border:1px solid #337fed;
                            display:inline-block;
                            cursor:pointer;
                            color:#ffffff;
                            font-family:Arial;
                            font-size:15px;
                            font-weight:bold;
                            padding:6px 24px;
                            text-decoration:none;
                            text-shadow:0px 1px 0px #1570cd;
                        }
                        .btnLogin:hover {
                            background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
                            background-color:#1e62d0;
                        }
                        .btnLogin:active {
                            position:relative;
                            top:1px;
                        }
                        
                    }
    
                    p{
                        margin-top: 10%;
                    }
                    
                    
                }
            }

        }
       
       
    //PARTE DEL FOOTER
        #footer{
            
            grid-area: footer;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row: repeat(50%);

            grid-template-areas: 
                                "politica redes"
                                "p p";

                                
            #contenidoPolitica{
                grid-area: politica;
                
                margin-top: 2%;
                text-align: center;

                h3{
                    text-decoration-line: underline;
                }

                a{
                    text-decoration: none;
                    color: black;
                }

                a:hover{
                    color: grey;
                }


            }

            #redes{

                grid-area: redes;
                margin-top: 2%;
                text-align: center;
                
                h3{
                    text-decoration-line: underline;
                }

                img{
                    margin-left: 2%;
                }

            }
            
            .copy{
                grid-area: p;
                margin-left: 5%;
                margin-bottom: 1;
            }
        }
    }
}


.correcto{
    border: green
}

.incorrecto{
    border: 1px solid red
}