<div id="contenidoPagina">
    {{>header}}
    <div id="divBlogs">
        
        <div class="divNoticia">
            <img src="../../img/noticias1.jpg">
            <div class="texto">
                <h4>Varias formas de hacer un buen curriculum</h4>
                <p>En este apartado te enseñamos como hacer un buen curriculum para que los equipos se figen en ti.</p>
            </div>

            <button class="btnNoticias">Leer más</button>
        </div>
        
         
        <div class="divNoticia">
            <img src="../../img/noticias2.jpg">

            <div class="texto">
                <h4>Formas de aumentar tus logros para el curriculum</h4>
                <p>Enterate de las varias formas que sugerimos para poder aumentar tus logros y asi conseguir que entrar en un buen equipo.</p>
            </div>

            <button class="btnNoticias">Leer más</button>
        </div>

         
        <div class="divNoticia">
            <img src="../../img/noticias3.jpg">

            <div class="texto">
                <h4>Como buscar a buenos compañeros</h4>
                <p>En este apartado es dejamos los mejores lugares para encontrar compañeros de equipo y asi porder ganar torneos mas facilmente.</p>
            </div>

            <button class="btnNoticias">Leer más</button>
        </div>

         
        <div class="divNoticia">
            <img src="../../img/noticias4.jpg">
            <div class="texto">
                <h4>Los mejores equipos te buscan!</h4>
                <p>Descubre los mejores equipos a los que te puedes unir y donde tambien se encunetran los mejores jugadores del mundo</p>
            </div>

            <button class="btnNoticias">Leer más</button>
        </div>
         
        <div class="divNoticia">
            <img src="../../img/noticias5.jpg">
            <div class="texto">
                <h4>Los mejores torneos del mundo</h4>
                <p>Aqui encontraras una seleccion de los mejores torneos en los que puedes participar para hacerte un renombre en el mundo de los vidoejuegos</p>
            </div>

            <button class="btnNoticias">Leer más</button>
        </div>

         
        <div class="divNoticia">
            <img src="../../img/noticias6.jpg">
            <div class="texto">
                <h4>Diferentes formas de mejorar en el lol</h4>
                <p>Aquí te dejamos una guia para que puedas mejorar tus habilidades en el lol</p>
            </div>

            <button class="btnNoticias">Leer más</button>
        </div>
        
    </div>
    {{>footer}}
</div>