<div id="footer">

    <div id="contenidoPolitica">

        <h3>Política de la Empresa</h3>
                
            <p><a href="">Quienés somos</a></p>
            <p><a href="">Ayuda</a></p>

        </div>

        <div id="redes"> 

            <h3>Nuestras redes sociales</h3>

            <a href="https://es-es.facebook.com/" target="_blank" title="enlace a Facebook"><img src="../../../img/facebook.png" alt="link a facebook"></a>
            <a href="https://twitter.com/explore" target="_blank" title="enlace a Twitter"><img src="../../../img/twitter.png" alt="link a twitter"></a>

        </div>   

         
        <p class="copy">
            &copy 2020 GameJob S.A. Todos los derechos reservados. <br>
        </p> 
</div>