<div class="head">

    <div id="logo">

       <a href="/"><img src="../../../img/GameJob_icono.png" ></a>

    </div>

    <nav id="menubar">
        <button id="oferta" class="botonMenu" value="/api/ofertas">Ofertas</button>
        <button id="blog" class="botonMenu" value="/api/blogs">Blogs</button>
        <button id="soporte" class="botonMenu" value="/api/soporte">Soporte</button>
        <button id="perfil" class="botonMenu" value="/api/usuarios/profile/"><i class="fas fa-user"></i>Perfil
            
            <div class="dropdown-content">
                    <a href="/api/usuarios/configuracion" id="configuracion" class="dropButton"><i class="fas fa-cog"></i>Configuración</a>
                    <a href="/api/usuarios/logOut" id="salir" class="dropButton"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a>
            </div>

        </button>
    </nav>
</div>    