<div class="head">

    <div id="logo">

       <a href="/"><img src="../../img/GameJob_icono.png" ></a>

    </div>

    <nav id="menubar">
        <ul>
            <li id="oferta" class="botonMenu"><a>Ofertas</a></li>
            <li id="blog" class="botonMenu"><a>Blogs</a></li>
            <li id="soporte" class="botonMenu"><a>Soporte</a></li>
            <li id="imgPerfil">Perfil</li>
        </ul>
    </nav>
</div>    