body {
  background-color: #EAEAEA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
body #contenidoPagina {
  height: 130vh;
  display: grid;
  grid-template-rows: 6% 75% 20%;
  grid-template-columns: 13% 1fr 20%;
  grid-template-areas: "menu menu menu" ". perfil ." "footer footer footer";
}
body #contenidoPagina .head {
  display: grid;
  grid-area: menu;
  background-color: #2f57ff;
  grid-template-columns: 15% 1fr 45%;
  grid-template-areas: "logo . menulista";
}
body #contenidoPagina .head #logo {
  grid-area: logo;
}
body #contenidoPagina .head #menubar {
  grid-area: menulista;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
body #contenidoPagina .head #menubar button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 100%;
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
body #contenidoPagina .head #menubar .botonMenu:hover {
  background-color: white;
  color: #2f57ff;
  text-decoration: none;
}
body #contenidoPagina .head #menubar #perfil i {
  margin-right: 3%;
}
body #contenidoPagina .head #menubar #perfil .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1.5%;
}
body #contenidoPagina .head #menubar #perfil .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition-property: background-color;
  transition-duration: 0.3s;
}
body #contenidoPagina .head #menubar #perfil .dropdown-content .dropButton:hover {
  background-color: white;
}
body #contenidoPagina .head #menubar #perfil:hover .dropdown-content {
  display: block;
}
body #contenidoPagina #contenidoPrincipal {
  display: grid;
  grid-area: perfil;
  margin-top: 5%;
  grid-template-rows: 10% 1fr;
  justify-items: center;
  grid-template-areas: "titulo" "contenido";
}
body #contenidoPagina #contenidoPrincipal h1 {
  grid-area: titulo;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil {
  width: 80%;
  height: 50%;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.78);
  border-radius: 30px;
  grid-area: contenido;
  background-color: white;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil #fotoPerfil {
  margin-top: 2%;
  margin-left: 2%;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil #fotoPerfil #foto {
  border-radius: 100%;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil #infPerfil {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil #infPerfil .label-info {
  width: 50%;
  margin-bottom: 3%;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil #infPerfil .label-info .label-text {
  margin-bottom: 1%;
}
body #contenidoPagina #contenidoPrincipal #contenidoPerfil #infPerfil .label-info input {
  border-style: solid;
  border-color: #ccc;
  border-radius: 25px;
  width: 80%;
  height: 60%;
  padding-left: 5%;
  outline-width: 0;
}
body #contenidoPagina #footer {
  grid-area: footer;
  background-image: url("../../img/fondo_footer.jpg");
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: repeat(50%);
  grid-template-areas: "politica redes" "p p";
}
body #contenidoPagina #footer #contenidoPolitica {
  grid-area: politica;
  margin-top: 2%;
  text-align: center;
}
body #contenidoPagina #footer #contenidoPolitica h3 {
  text-decoration-line: underline;
}
body #contenidoPagina #footer #contenidoPolitica a {
  text-decoration: none;
  color: black;
}
body #contenidoPagina #footer #contenidoPolitica a:hover {
  color: grey;
}
body #contenidoPagina #footer #redes {
  grid-area: redes;
  margin-top: 2%;
  text-align: center;
}
body #contenidoPagina #footer #redes h3 {
  text-decoration-line: underline;
}
body #contenidoPagina #footer #redes img {
  margin-left: 2%;
}
body #contenidoPagina #footer .copy {
  grid-area: p;
  margin-left: 5%;
  margin-bottom: 1;
}

/*# sourceMappingURL=profile.css.map */
