<div id="contenidoPagina">
    {{>header}}
    <div id="divPrincipal">
        
        <h2>Configuracion del Perfil</h2>
        <h4>Aqui puede actualizar y configurar mejor sus datos</h4>
        <div id="boxInfo" class="invisible"></div>
        <div id="divConfiguracion">
            
        </div>

    </div>

    {{>footer}}
</div>