<div id="contenidoPagina">
    {{>header}}

    <div id="contenidoPrincipal">
        
        <h1>DATOS PERSONALES</h1>

       <div id="contenidoPerfil">
           
            <div id="fotoPerfil">
                 <img id="foto" src="../../../img/perfil_default.png">
                  <label id="nick"></label>
            </div>

            <div id="infPerfil">

                <div class="label-info">

                    <div class="label-text">
                        <label>Nombre</label>
                    </div>

                    <input type="text" id="nombre" readonly>

                </div>

                <div class="label-info">

                    <div class="label-text">
                        <label>Apellidos</label>
                    </div>

                    <input type="text"  id="apellido" readonly >

                </div>    

                <div class="label-info">

                    <div class="label-text">
                        <label>Fecha de Nacimiento</label>
                    </div>

                    <input type="text" id="nacimiento" readonly>

                </div>

                <div class="label-info">

                    <div class="label-text">
                        <label>DNI</label>
                    </div>

                    <input type="text" id="dni" readonly>

                </div> 

                 <div class="label-info">

                    <div class="label-text">
                        <label>Dirección</label>
                    </div>

                    <input type="text" id="direccion" readonly>

                </div>        


                <div class="label-info">

                    <div class="label-text">
                        <label>Email</label>
                    </div>

                    <input type="text" id="email" readonly>

                </div>  
               
               

            </div>

        </div>

        <div id="Curriculum">

        </div>

    </div>

    {{>footer}}

</div>

{{!-- <img id="foto" src="../../img/perfil_default.png"> --}}