body{
     
    background-color: #EAEAEA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;

    #contenidoPagina{

        height: 170vh;
        display: grid;

        grid-template-rows: 4% 85% 13%;
        grid-template-columns: 25% 1fr 25%;
        grid-template-areas: "menu menu menu"
                             "principal principal principal"
                             "footer footer footer";

        .head{

            display: grid;
            grid-area: menu;
                                                        
                                            
            background-color: #2f57ff;
            grid-template-columns: 15% 1fr 45%;
            grid-template-areas: "logo . menulista";
                                                        
            #logo{
                grid-area: logo;
            }
                                                
            #menubar{
                                                            
                grid-area: menulista;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: stretch;
                align-content: center;
                                            
                button{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    cursor:pointer;
                    font-size: 100%;
                    color: white;
                    transition-property: background-color, color;
                    transition-duration:0.5s;
                }
                                            
                .botonMenu:hover{
                                                
                    background-color: white;
                    color:  #2f57ff;
                    text-decoration: none;
                                                                
                }
                                            
                #perfil{
                                            
                    i{
                        margin-right: 3%;
                    }
                                            
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 200px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        margin-top: 1% ;
                                            
                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            transition-property: background-color;
                            transition-duration: 0.3s;
                        }
                                            
                        .dropButton:hover{
                            background-color: white;
                        }
                    }
                                            
                }
                                            
                #perfil:hover{
                    .dropdown-content {
                        display: block;
                    }
                }
                                                            
            }
        }

        #divPrincipal{
            grid-area: principal;

            display: grid;
            grid-template-columns: 15% 1fr 25%;
            grid-template-rows: 25% 1fr;
            grid-template-areas: "buscador buscador buscador"
                                  ".  ofertas ." ;


            #divBuscador{

                grid-area: buscador;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: url('../../img/banner.jpg') no-repeat;
                background-size: cover;
                color: white;
                

                #buscador{
                    background: rgba(47, 87, 235, 0.5);
                    width: 40%;
                    height: 50%;
                    border-radius: 30px;
                    box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.75);

                    p{
                        margin-left: 5%; 
                        margin-top: 6%;
                    }

                    input{
                        border-style: solid;
                        background-color: rgb(236, 236, 236); 
                        width: 50%;
                        height: 20%;
                        margin-left: 5%;
                        border-radius: 25px;
                        outline-width: 0;
                      
                    }

                    input:focus{
                        border-color:black;
                    }

                    .btnBuscar {
                        margin-left: 8%;
                        text-align: center;
                        width: 25%;
                        height: 20%;
                        box-shadow:inset 0px 1px 0px 0px #ff4e27;
                        background:linear-gradient(to bottom, #ff4e27 5%, #ff4e27 100%);
                        background-color:#ff4e27;
                        border-radius:6px;
                        border:1px solid#ff4e27;
                        display:inline-block;
                        cursor:pointer;
                        color:#ffffff;
                        font-family:Arial;
                        font-size:15px;
                        font-weight:bold;
                        padding:6px 24px;
                        text-decoration:none;
                        text-shadow:0px 1px 0px #ff4e27;
                    }
                    .btnBuscar:hover {
                        background:linear-gradient(to bottom, #ff4e27 5%,#ff8d30 100%);
                        background-color:#ff5227;
                    }
                    .btnBuscar:active {
                        position:relative;
                        top:1px;
                    }
                }
                
            }

            #divOfertas{
                grid-area: ofertas;
                display: grid;
                grid-template-columns: 30% 1fr;

                #filtro{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 90%;
                    background-color: white;
                    box-shadow: 4px 4px 15px 1px rgba(0,0,0,0.75);
                    margin: 5%;
                    border-radius: 20px;
                    
                    .filter{
                        display: flex;
                        flex-direction: column;
                        margin-top: 2%;

                        p{
                            font-size: 120%;
                            padding-left: 8%;
                            margin-bottom: 2%;
                            font-weight: 700;
                        }

                        label{
                            margin-left: 6%;
                            margin-bottom: 1%;
                        }
                        
                        .slider{
                            width: 80%;
                            margin-left: 9%;
                           
                        }

                        .slider::-moz-range-track{
                            background-color: #3d94f6;
                        }

                        .slider::-moz-range-thumb{ 
                            border-color:  #3d94f6;
                        }

                        .first{
                            color: rgb(107, 103, 103);
                            float: left;
                            margin-left: 9%;
                        }

                        .second{
                            color: rgb(107, 103, 103);
                            float: right;
                            margin-right: 9%;
                        }
                    }

                }

                #ofertas{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    margin-top: 3%;

                    .oferts{
                        display: grid;
                        grid-template-columns: 10% 1fr;
                        height: 20%;
                        background-color:white;
                        box-shadow: 6px 4px 10px 1px rgba(0,0,0,0.75);
                        border-radius: 10px;
                        margin-bottom: 3%;
                        .divimg{

                            margin-left: 10%;
                            margin-top: 5%;

                            img{
                                width: 100%;
                                height: 35%;
                            }
                        }
                       
                        .datos{
                            margin-left: 2%;

                            h4{
                                margin-bottom: 0;
                            }

                            h6{
                                margin-top: 1%;
                                color: rgb(107, 103, 103);
                            }

                            p{
                                margin-bottom: 2%;
                                text-align: justify;
                                padding-right: 2%;
                            }

                            .etiquetas{
                                margin-top: 2%;
                                label{
                                    background-color: #EAEAEA;
                                    margin-left: 3%;
                                }
                                
                            }
                          
                        }
                    }
                }

            }

           
        }
        
        
        #footer{
            
            grid-area: footer;

            background-image: url("../../img/fondo_footer.jpg");
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row: repeat(50%);

            grid-template-areas: 
                                "politica redes"
                                "p p";

                                
            #contenidoPolitica{
                grid-area: politica;
                
                margin-top: 2%;
                text-align: center;

                h3{
                    text-decoration-line: underline;
                }

                a{
                    text-decoration: none;
                    color: black;
                }

                a:hover{
                    color: grey;
                }


            }

            #redes{

                grid-area: redes;
                margin-top: 2%;
                text-align: center;
                
                h3{
                    text-decoration-line: underline;
                }

                img{
                    margin-left: 2%;
                }

            }
            
            .copy{
                grid-area: p;
                margin-left: 5%;
                margin-bottom: 1;
            }
        }
    }
}