body{
     
    background-color: #EAEAEA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
   
    #contenidoPagina{

        height: 130vh;
        display: grid;

        grid-template-rows: 6% 75% 20%;
        grid-template-columns: 13% 1fr 20%;
        grid-template-areas: "menu menu menu"
                             ". perfil ."
                             "footer footer footer";
        

        .head{

            display: grid;
            grid-area: menu;
            

            background-color: #2f57ff;
            grid-template-columns: 15% 1fr 45%;
            grid-template-areas: "logo . menulista";
            
            #logo{
                grid-area: logo;
            }
    
            #menubar{
                
                grid-area: menulista;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: stretch;
                align-content: center;

                button{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    cursor:pointer;
                    font-size: 100%;
                    color: white;
                    transition-property: background-color, color;
                    transition-duration:0.5s;
                }

                .botonMenu:hover{
    
                    background-color: white;
                    color:  #2f57ff;
                    text-decoration: none;
                    
                }

                #perfil{

                    i{
                        margin-right: 3%;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 200px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        margin-top: 1.5% ;

                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            transition-property: background-color;
                            transition-duration: 0.3s;
                        }

                        .dropButton:hover{
                            background-color: white;
                        }
                    }

                }

                #perfil:hover{
                    .dropdown-content {
                        display: block;
                    }
                }
                
            }
        }


        #contenidoPrincipal{

            display: grid;
            grid-area: perfil;
            margin-top: 5%;
            
            grid-template-rows: 10% 1fr;
            justify-items: center;
            grid-template-areas: "titulo" 
                                  "contenido";

           h1{
               grid-area: titulo;
            }

           #contenidoPerfil{

                width: 80%;
                height: 50%;
                box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.78);
                border-radius: 30px;

                grid-area: contenido;
                background-color: white;

                #fotoPerfil{

                    margin-top: 2%;
                    margin-left: 2%;
        
                    #foto{
        
                        border-radius: 100%;
        
                    }
                }

                #infPerfil{
                    margin-top: 2%;
                    margin-left: 10%;
                    margin-right: 10%;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    
                    .label-info{
                     width: 50%;
                     margin-bottom: 3%;

                        .label-text{
                            margin-bottom: 1%;
                        }

                        input{
                            border-style: solid;
                            border-color: #ccc;
                            border-radius: 25px;
                            width: 80%;
                            height: 60%;
                            padding-left: 5%;
                            outline-width: 0;
                        }

                        // input:focus{
                        //     border: 0;
                        //     box-shadow: 0 0 0 2pt rgb(108, 148, 201);
                        // }

                    }

                }

           } 
           

        }


        #footer{
            
            grid-area: footer;

            background-image: url("../../img/fondo_footer.jpg");
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row: repeat(50%);

            grid-template-areas: 
                                "politica redes"
                                "p p";

                                
            #contenidoPolitica{
                grid-area: politica;
                
                margin-top: 2%;
                text-align: center;

                h3{
                    text-decoration-line: underline;
                }

                a{
                    text-decoration: none;
                    color: black;
                }

                a:hover{
                    color: grey;
                }


            }

            #redes{

                grid-area: redes;
                margin-top: 2%;
                text-align: center;
                
                h3{
                    text-decoration-line: underline;
                }

                img{
                    margin-left: 2%;
                }

            }
            
            .copy{
                grid-area: p;
                margin-left: 5%;
                margin-bottom: 1;
            }
        }
    }
}
