<div id="contenidoPagina">
    {{>header}}
    <div id="divSoporte">

        <div id="titulo">
            <img src="../../img/soporte.png">
            <h2>Bienvenido al apartado de Soporte Tecnico de GameJob</h2>
        </div>
       
        <h3>En que podemos ayudarte?</h3>

        <h4>En este apartado solucionaremos todas las dudas o problemas que tengas con nuestro servicio</h4>
        <h5>
            Si no encuentras las respuestas que buscabas por favor, contacte con nuestro servicio tecnico <a href="*">gamejob@gmail.com</a> o a nuestro
            numero de telefono <i><b>965782345</b></i>. Contactaremos contigo para solucionar todos los problemas que tengas lo mas rapido posible.
        </h5>

       <hr>
            
        <ul id="divListas">

            <li class="listas">

                <a class="help"> <label> Problemas a la hora de buscar un empleo</label></a>
                <ul class="invisible">
                    <li><a href="*">No puedo entrar en las ofertas</a></li>
                    <li><a href="*">No me deja crear ofertas</a></li>
                    <li><a href="*">Busco pero no me sale ningun resultado</a></li>
                </ul>

            </li>


            <li class="listas">

                <a class="help"> <label> Problemas a la hora de crear el perfil </label></a>
                <ul class="invisible">
                    <li><a href="*">No puedo entrar en la creacion del perfil</a></li>
                    <li><a href="*">No me deja crear el perfil</a></li>
                    <li><a href="*">Cuando quiero subir el curriculum me da un error</a></li>
                </ul>

            </li>

            <li class="listas">

                <a class="help"> <label> Problemas a la hora de pagar la suscripcion </label></a>
                <ul class="invisible">
                    <li><a href="*">No me acepta la tarjeta de credito</a></li>
                    <li><a href="*">Como puedo pagar con Paypal?</a></li>
                    <li><a href="*">Como cancelar la subscripcion?</a></li>
                </ul>

            </li>

            <li class="listas">

                <a class="help"> <label> Problemas con el CV </label></a>
                <ul class="invisible">
                    <li><a href="*">No puedo subir el curriculum</a></li>
                    <li><a href="*">No se me descarga el curriculum</a></li>
                    <li><a href="*">Que tipo de archivos acepta para subir el CV?</a></li>
                </ul>

            </li>

        </ul>
    
        <img id="banner" src="../../img/soporte_img.jpg" alt="chica-soporte">


    </div>

    {{>footer}}
</div>